<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading && game.title" class="container">
    <div class="row mt-1">
        <div class="col-lg-4">
            <img src="{{ game.thumbnail }}" style="width: 100%;" alt="{{ game.thumbnail }}">
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                  <h1 class="card-title">{{ game.title }}</h1>

                  <div class="row mt-1">
                    <div class="col-lg-4">
                        <h6 class="card-subtitle mb-2 text-muted">Developer: {{ game.developer }}</h6>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="card-subtitle mb-2 text-muted">Genre: {{ game.genre }}</h6>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="card-subtitle mb-2 text-muted">Platform: {{ game.platform }}</h6>
                    </div>
                  </div>

                  <p class="card-text">{{ game.description }}</p>

                  <div class="row mt-1">
                    <h3 class="card-title">Screenshots</h3>
                    <div *ngFor="let screenshot of game.screenshots" class="col-lg-4">
                        <img src="{{ screenshot.image }}" style="width: 100%;" alt="{{ screenshot.image }}">
                    </div>
                  </div>

                  <table class="table table-hover mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Graphics</th>
                        <th scope="col">Memory</th>
                        <th scope="col">OS</th>
                        <th scope="col">Processor</th>
                        <th scope="col">Storage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-active">
                        <th scope="row">{{ game.minimum_system_requirements?.graphics }}</th>
                        <th scope="row">{{ game.minimum_system_requirements?.memory }}</th>
                        <th scope="row">{{ game.minimum_system_requirements?.os }}</th>
                        <th scope="row">{{ game.minimum_system_requirements?.processor }}</th>
                        <th scope="row">{{ game.minimum_system_requirements?.storage }}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
</div>

<h5 *ngIf="!loading && !game.title" class="text-center">
  No records
</h5>